<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
</head>
<body>
    <h1>WElcom  to Dear <%- data %></h1>
    <p> Role assign : <%- role %></p>
    <form action="/roleass" method="post">
        <p> if user assign role than select role </p>
    <div class="userlist">
        <div hidden><input name="datas" value=<%- userid %> /></div>
        <label for="role">Role</label>  
        <select name="role" id="role" required>
            <option value="role_1">role_1</option>
            <option value="role_2">role_2</option>
            <option value="role_3">role_3</option>
            <option value="admin">admin</option>
            <option value="postman">postman</option>
            <option value="student">student</option>
          </select>
    </div><br>
    <button class="btn btn-primary" type="submit">Role Ass.</button>
    </form>
    <br><br>
    <form action="/roleadds" method="post">
        <div class=" roleadd"> <button onclick="openrolepage()"><label name="roleadd" id="roleadd"> + add role</label></button> </div>

    </form>
 <script>
     function openrolepage(){
         console.log('hellooo')
         location.href='./newaddrole';
     };
   
    
 </script>
</body>
</html>